C++/TicTacToe/Executable/.qmake.stash
C++/TicTacToe/Executable/main.o
C++/TicTacToe/Executable/mainwindow.o
C++/TicTacToe/Executable/Makefile
C++/TicTacToe/Executable/moc_mainwindow.cpp
C++/TicTacToe/Executable/moc_mainwindow.o
C++/TicTacToe/Executable/moc_myqlabel.cpp
C++/TicTacToe/Executable/moc_myqlabel.o
C++/TicTacToe/Executable/moc_predefs.h
C++/TicTacToe/Executable/myqlabel.o
C++/TicTacToe/Executable/qmake_qmake_immediate.qrc
C++/TicTacToe/Executable/qrc_qmake_qmake_immediate.cpp
C++/TicTacToe/Executable/qrc_qmake_qmake_immediate.o
C++/TicTacToe/Executable/ui_mainwindow.h
Python/__pycache__/main.cpython-39.pyc
